body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1#titulo {
    background-color: #0000CD;
    color: white;
    padding: 2%;
    border: solid 2px #0000CD;
    margin: -1%;
}    

main {
    text-align: center;
}


.soma {
    margin-top: 2%;
    width: 3%;
    margin-left: 1%;
}

.sum {
    margin-top: 1%;
    width: 3%;
}

.botao {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #0000CD;
    color: white;
    padding: 0.5%;
    border: solid 2px #0000CD;
    border-radius: 10px;
}

.resetar {
    background-color: #0000CD;
    color: white;
    padding: 0.5%;
    border: solid 2px #0000CD;
    border-radius: 10px;
}

p.result {
    background-color: #FFFFFF;
    color: #000000;
    width: 20%;
    margin-left: 40%;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: solid 1px #000000;
    text-align: start;
}

label.legend {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}